.product-cards {        
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;   
}

.product-cards a {
    text-decoration: none;    
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 10px;    
}

.product-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(46, 45, 45, 0.9); 
  }

.product-card img {
    display: flex;    
    justify-content: center;
    align-items: center;
}

.product-card-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}